*.iml
.gradle
.idea/
/local.properties
.idea/
/build/
app/build/
/captures/
.externalNativeBuild/
.cxx/
local.properties

# system files
.DS_Store

# security files
*.jks
*.keystore
app/google-services.json
